header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(191, 233, 250);
  font-weight: bold;
  font-size: 30;
}
main {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 246, 250);
}
footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(191, 233, 250);
  color: white;
}
