header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(191, 233, 250);
  font-weight: bold;
  font-size: 30;
}
header button {
  box-sizing: border-box;
  padding: 5px;
  color: white;
  background-color: tomato;
  border: none;
  margin-left: 30px;
  border-radius: 10px;
  cursor: pointer;
}
main {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 246, 250);
}
footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(191, 233, 250);
  color: white;
}
